<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	template="/WEB-INF/templates/template.xhtml">	
<ui:define name="content">

	<f:metadata>
		<f:viewParam name="taskId" />
		<f:event type="preRenderView" listener="#{businessProcess.startTask(taskId, true)}" />            
   	</f:metadata>
	
	<h2>#{task.name}</h2>
	
    <p>Please print this page and send it to the customer.</p>
	<h:form>
		<table>
				<tr>
					<td>Name</td>
					<td>#{customer.firstName} #{customer.lastName}</td>
				</tr>
				<tr>
					<td>Address</td>
					<td>#{customer.address}, #{customer.zipCode} #{customer.city}</td>
				</tr>
				<tr>
					<td>Company details</td>
					<td>#{customer.companyDetails}</td>
				</tr>
				<tr>
					<td>Your Scoring result</td>
					<td>#{customer.scoringPoints}</td>
				</tr>
				<tr>
				    <td />
					<td><h:commandButton action="#{businessProcess.completeTask()}" value="done" type="submit" /></td>
				</tr>
		</table>
	</h:form>
</ui:define>
</ui:composition>
